<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Customer</title>
</head>

<body>
    <!-- Form action changes depending on customers.id -->
    <h1><%= customers.id === 0 ? "New Customer" : "Edit Customer Details"%></h1>

    <% let path = ""; %>
    <% if(customers.id == 0) {path = '/customers/'} else {path = '/customers/update/' + customers.id + '?_method=PUT'} %>

    <form action="<%= path %>" method="POST" autocomplete="off"><br>
        <input placeholder="First Name" type="text" name="first_name"  value="<%= customers.first_name %>" ><br>
        <input placeholder="Last Name" type="text" name="last_name" value="<%= customers.last_name %>" ><br>
        <input placeholder="Company Name" type="text" name="company_name" value="<%= customers.company_name %>" ><br>
        <input placeholder="Address" type="text" name="address" value="<%= customers.address %>" ><br>
        <input placeholder="City" type="text" name="city" value="<%= customers.city %>" ><br>
        <input placeholder="Province" type="text" name="province" value="<%= customers.province %>" ><br>
        <input placeholder="Postal Code" type="text" name="postal" value="<%= customers.postal %>" ><br>
        <input placeholder="Phone 1" type="text" name="phone1" value="<%= customers.phone1 %>" ><br>
        <input placeholder="Phone 2" type="text" name="phone2" value="<%= customers.phone2 %>" ><br>
        <input placeholder="Email" type="text" name="email" value="<%= customers.email %>" ><br>
        <input placeholder="Website" type="text" name="web" value="<%= customers.web %>" ><br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <a href="/customers"><button>Cancel</button></a>
</body>
</html>